<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Pedidos</h4>
        </div>
        
        <div class="box-body">
          <div *ngIf="orders.length === 0">
            <p>Não há Pedidos</p>
          </div>

          <form class="row" [formGroup]="searchForm">
            <div class="col-xs-8">
              
            </div>
            <div class="col-xs-4">
              <truffle-adm-input [noHelpBlock]="false">
                  <input type="text" class="form-control" formControlName="search" 
                          placeholder="Pesquisar" autocomplete="off">
                  <span class="fa fa-search form-control-feedback"></span>
              </truffle-adm-input>
            </div>
          </form>
  
          <table class="table table-bordered table-striped" *ngIf="orders.length > 0">
            <tr>
              <th style="width: 10px">Nº</th>
              <th>Cliente</th>
              <th>Email</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Situação</th>
              <th colspan="2">Ações</th>
            </tr>
            <tr *ngFor="let order of orders">
              <td>{{ order.id }}</td>
              <td>{{ order.account.name }}</td>
              <td>{{ order.account.email }}</td>
              <td width="30">{{ order.date  | date:'dd/MM/yyyy' }}</td>
              <td width="30" align="right">{{ order.orderValue | currency: 'BRL': true }}</td>
              <td width="30">
                <div class="box-tools">
                    <span class="label"
                          [class.label-danger] ="isPeding(order)"
                          [class.label-warning]="isDoing(order)"
                          [class.label-info]="isDone(order)" 
                          [class.label-success]="isClosed(order)">{{ order.status }}</span>
                </div>
              </td>
              <td width="25">
                <a (click)="setOrder(order)" data-toggle="modal" data-target="#detailOrder"><i class="fa fa-eye"></i></a>
              </td>
              <td width="25">
                  <a (click)="setOrder(order)" data-toggle="modal" data-target="#confirmationStatusOrder"><i class="fa"
                    [class.fa-exclamation-circle]="isPeding(order)"
                    [class.fa-clock-o]="isDoing(order)"
                    [class.fa-check-square-o]="isDone(order)"
                    [class.fa-check-square]="isClosed(order)"></i></a>
              </td>
            </tr>
            
          </table>

          <!-- Modal confirmar mudanca de status pedido-->
          <div class="modal fade" id="confirmationStatusOrder" tabindex="-1" role="dialog" aria-labelledby="confirmationStatusOrder" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3>Confirmação recebimento do pedido Nº {{ orderSelected?.id }}</h3>
                  </div>
                  <div class="modal-body">
                    <div class="row">

                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <p>O pedido mudará para o status <strong>{{ getNewStatus(orderSelected?.status) }}</strong></p>
                      </div>
                      
                    </div>
                      <div class="modal-footer"> 
                        <button type="button" class="btn btn-default" data-dismiss="modal">cancelar</button>
                        <button (click)="changeStatus()" type="button" class="btn btn-primary" data-dismiss="modal">confirmar</button>
                      </div>
                  </div>

                </div>
              </div>
          </div>

           <!-- Modal de detalhes do pedido-->
          <div class="modal fade" id="detailOrder" tabindex="-1" role="dialog" aria-labelledby="detailOrder" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4>Pedido: 
                      <strong>{{ orderSelected?.id }}</strong>
                    </h4>
                  </div>
                  <div class="modal-body">
      
                      <div class="row">
      
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <h4>Itens</h4>
                            <table class="table table-bordered table-striped table-hover">
                              <thead>
                                <tr>
                                  <th width="80">Cod</th>
                                  <th>Item</th>
                                  <th width="80">Qtd</th>
                                  <th width="80">Total</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let orderItens of orderSelected?.orderItens">
                                  <td>{{ orderItens?.item.id }}</td>
                                  <td>{{ orderItens?.item.name }}</td>
                                  <td align="right">{{ orderItens?.quantity }}</td>
                                  <td align="right">{{ orderItens?.value | currency: 'BRL': 'symbol' }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
      
                          <div class="col-xs-12 col-sm-12 col-md-12">
                            <h4>Pagamento</h4>
                            <table class="table table-bordered table-striped table-hover">
                              <thead>
                                <tr>
                                  <th>Pagamento</th>
                                  <th width="80">Valor</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let payment of orderSelected?.payments">
                                  <td>{{ payment.paymentType }}</td>
                                  <td align="right">{{ payment.value | currency: 'BRL': 'symbol' }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    
                      </div>
      
                    <div class="modal-footer"> 
                      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      
        <truffle-adm-pagination 
          [page]="getPage()" 
          (load)="loadOrders($event)">
        </truffle-adm-pagination>
      </div>
    </div>
  </div>