

<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Pedidos</h4>
        </div>
        
        <div class="box-body">
          <div *ngIf="orders.length === 0">
            <p>Não há Pedidos</p>
          </div>
  
          <table class="table table-bordered" *ngIf="orders.length > 0">
            <tr>
              <th style="width: 10px">Nº</th>
              <th>Cliente</th>
              <th>Valor</th>
              <th>Situação</th>
              <th>Ações</th>
            </tr>
            <tr *ngFor="let order of orders">
              <td>{{ order.id }}</td>
              <td>{{ order.account.name }}</td>
              <td>{{ order.orderValue | currency: 'BRL': true }}</td>
              <td>
                <div class="box-tools pull-center">
                    <span class="label"
                          [class.label-success]="order.status === 'RECEBIDO'"
                          [class.label-success]="order.status === 'PREPARANDO'"
                          [class.label-success]="order.status === 'PRONTO'" 
                          [class.label-success]="order.status === 'CONCLUIDO'" 
                          [class.label-danger] ="order.status === 'PENDENTE'">{{ order.status }}</span>
                </div>
              </td>
              <td>
                
              </td>
            </tr>
            
          </table>
        </div>
      
        <truffle-adm-pagination 
          [page]="getPage()" 
          (load)="loadOrders($event)">
        </truffle-adm-pagination>
      </div>
    </div>
  </div>