<div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Pedidos</h4>
        </div>
        
        <div class="box-body">
          <div *ngIf="orders.length === 0">
            <p>Não há Pedidos</p>
          </div>

          <form class="row" [formGroup]="searchForm">
            <div class="col-xs-8">
              
            </div>
            <div class="col-xs-4">
              <truffle-adm-input [noHelpBlock]="false">
                  <input type="text" class="form-control" formControlName="search" 
                          placeholder="Pesquisar" autocomplete="off">
                  <span class="fa fa-search form-control-feedback"></span>
              </truffle-adm-input>
            </div>
          </form>
  
          <table class="table table-bordered table-striped" *ngIf="orders.length > 0">
            <tr>
              <th style="width: 10px">Nº</th>
              <th>Cliente</th>
              <th>Email</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Situação</th>
              <th colspan="2">Ações</th>
            </tr>
            <tr *ngFor="let order of orders">
              <td>{{ order.id }}</td>
              <td>{{ order.account.name }}</td>
              <td>{{ order.account.email }}</td>
              <td width="30">{{ order.date  | date:'dd/MM/yyyy' }}</td>
              <td width="30" align="right">{{ order.orderValue | currency: 'BRL': true }}</td>
              <td width="30">
                <div class="box-tools">
                    <span class="label"
                          [class.label-danger] ="isPeding(order)"
                          [class.label-warning]="isDoing(order)"
                          [class.label-info]="isDone(order)" 
                          [class.label-success]="isClosed(order)">{{ order.status }}</span>
                </div>
              </td>
              <td width="25">
                <a [routerLink]="['orderDetail', order.id]"><i class="fa fa-eye"></i></a>
              </td>
              <td width="25">
                <a (click)="changeStatus(order)"><i class="fa" 
                    [class.fa-exclamation-circle]="isPeding(order)"
                    [class.fa-clock-o]="isDoing(order)"
                    [class.fa-check-square-o]="isDone(order)"
                    [class.fa-check-square]="isClosed(order)"></i></a>
              </td>
            </tr>
            
          </table>
        </div>
      
        <truffle-adm-pagination 
          [page]="getPage()" 
          (load)="loadOrders($event)">
        </truffle-adm-pagination>
      </div>
    </div>
  </div>