<header class="main-header">
    
  <a href="javascript:void()" class="logo">
    <span class="logo-mini">
        <img src="assets/img/logo_webgex_mini.svg" alt="truffleApp" width="30">
    </span>

    <span class="logo-lg">
        <img src="assets/img/logo_webgex.svg" alt="truffleApp" height="34">
    </span>
    
  </a>

  <nav class="navbar navbar-static-top">
    <a href="javascript:void()" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu" *ngIf="isLoggedIn()">
      <ul class="nav navbar-nav">
        <li class="dropdown notifications-menu"  >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-bell-o"></i>
            <span class="label label-warning" *ngIf="hasOrderToNotify()">{{  getCountOrder() }}</span>
          </a>
          <ul class="dropdown-menu" *ngIf="hasOrderToNotify()">
            <li class="header">Você tem {{ getCountOrder() }} Pedidos</li>
            <li>

              <ul class="menu">
                
                <li>
                  <a [routerLink]="['/order']">
                    <i class="fa fa-warning text-yellow"></i> {{ getCountPendingOrders() }}  Pendentes
                  </a>
                </li>     
                <li>
                  <a [routerLink]="['/order']">
                    <i class="fa fa-shopping-cart text-green"></i> {{ getCountDoingOrders() }} Pedidos sendo preparados
                  </a>
                </li>
              </ul>
            </li>
            <li class="footer"><a href="#">Ver todos</a></li>
          </ul>
        </li>
       
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle">
            <span class="hidden-xs">{{ username | uppercase }}</span>
          </a>
        </li>
       
      </ul>
    </div>
  </nav>
</header>

<aside class="main-sidebar">
  <section class="sidebar" *ngIf="isLoggedIn()">
   
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Navegação Principal</li>
      <li class="treeview menu-open" *ngFor="let menu of menus">
        <a href="#">
          <i [ngClass]="menu.icon" ></i> <span>{{ menu.name }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" >
          <li *ngFor="let menuItem of menu.itemMenu" routerLinkActive="active" (click)="navigateTo(menuItem)">
              <a [routerLink]="menuItem.link">
                <i class="fa fa-circle-o"></i>
                <span>{{ menuItem.item }}</span>
              </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="javascript:void()" (click)="logout()" *ngIf="isLoggedIn()">
          <i class="fa fa-sign-out"></i>
          <span>Sair</span>
        </a>
      </li>
    </ul>
    
  </section>
</aside>

<div class="content-wrapper">

  <section class="content">

    <ng-content></ng-content>
  </section>

</div>

<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2017-2018 <a href="#">Truffle App Admin</a>.</strong> Todos os direitos reservados.
</footer>